@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');

.Game-List {
    background:linear-gradient(#75c9b7,transparent);
    background-color: #abd699;
    width: fit-content;
    display: flex;
}

.Delete-Button {
    background-color: #16123f;
}
